* {
    margin: 0;
    /* border: 1px solid black; */
}

/* Navigation bar */

.navbar {
    font-family: 'Rubik', sans-serif;
    /* background-color: rgb(13, 154, 236); */
    background-color: rgba(222, 226, 228, 0.9); /* Tint color */
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
}

.navbar-item {
    font-size: 1.3em;
    padding: 10px;
}

.navbar-nav {
    width: 40%;
}

.navbar-nav ul {
  display:flex;  
  list-style:none;
  justify-content: space-evenly;
}

.navbar-nav ul li a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}

.navbar-nav ul li a:hover {
    background-color:  rgba(240, 245, 247, 0.9);
    /* text-decoration: underline;
    text-decoration-color: black; */
    border-bottom: 2px solid black;
    transition: 0.5s;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 1.3em;
    margin-right: 5%;;
}

@media (min-width: 768px) {
    .navbar-nav-hamburger{
      display: none;
    }
}

@media (max-width: 768px) {
    .navbar-nav > ul {
        display: none;
    }
}


/* hero section */

.hero-wrapper {
    padding: 40px;
    position: relative;
    height: 500px;
    background-color: rgba(240, 245, 247, 0.9); /* Tint color */
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-img {
    border: 5px solid black;
    content: url(images/self2.jpg);
    filter: grayscale(10%);
    width: 30%;
}

.hero-intro span {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}

.hero-intro p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.3em;
    width: 70%;
    text-align: justify;
}

/* for bigger displays */
@media screen and (min-width: 1080px) {
    .hero-img {
        width: 300px;
    }
    body {
        max-width: 1400px;
        margin: auto;
    }

}

/* for smaller displays */
@media screen and (max-width: 768px) {
    .hero-wrapper {
        flex-direction: column;
    }
    .hero-img {
        order: -1;
        width: 200px;
    }
    .hero-intro {
        text-align: center;
    }
    .hero-intro p {
        width: 100%;
        text-align: center;
    }
}


/* about section */

.about-wrapper {
    height: 500px;
    background-color: rgba(222, 226, 228, 0.9);
}

.about-item {
    padding: 40px;
}

.about-item span {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}


/* tools section */

.tools-wrapper {
    height: 500px;
}






/* responsive styling for later
/* min size style*/
/* @media screen and (max-width:500px) { */
    /* put your css style in there */
 /* } */
 
 /* middle size style */
 /* @media screen and (min-width:501px) { */
    /* put your css style in there */
 /* } */
 
 /* large size style */
 /* @media screen and (min-width:920px) { */
    /* put your css style in there */
 /* }  */