* {
    margin: 0;
    /* border: 1px solid black; */
}

/* content-wrapper */
.contenet-wrapper {
    display: flex;
    flex-direction: column;
}


/* Navigation bar */

.navbar {
    font-family: 'Rubik', sans-serif;
    /* background-color: rgb(13, 154, 236); */
    background-color: rgba(222, 226, 228, 0.9); /* Tint color */
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
}

.navbar-item {
    font-size: 1.3em;
    padding: 10px;
}

.navbar-nav {
    width: 40%;
}

.navbar-nav ul {
  display:flex;  
  list-style:none;
  /* justify-content: space-evenly; */
  justify-content: flex-start;
  gap: 10%;
}

.navbar-nav ul li a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.navbar-nav ul li a:hover {
    background-color:  rgba(240, 245, 247, 0.9);
    border-bottom: 2px solid black;
    transition: 0.5s;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 1.3em;
    margin-right: 5%;;
}

.navbar-brand a {
    margin-right: 20px;
    text-decoration: none;
}


@media (min-width: 768px) {
    .navbar-nav-hamburger{
      display: none;
    }
}

@media (max-width: 768px) {
    .navbar-nav > ul {
        display: none;
    }
}


/* hero section */

.hero-wrapper {
    flex-basis: 500px;
    padding: 40px;
    position: relative;
    background-color: rgba(240, 245, 247, 0.9); /* Tint color */
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-img {
    border: 5px solid black;
    content: url(images/self2.jpg);
    filter: grayscale(10%);
    width: 30%;
}

.hero-intro span {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}

.hero-intro p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.3em;
    width: 70%;
    text-align: justify;
}

.hero-intro button {
    margin-top: 30px;
    padding: 15px;
    /* border-radius: 50px; */
    box-shadow: 2px 2px #3b3b3b;

    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 1em;

    background-color: rgba(222, 226, 228, 0.9);

    transition: all 0.2s;
}

.hero-intro button:hover {
    background-color:  rgba(240, 245, 247, 0.9);
}

.hero-intro button:active {
    background-color:  rgba(240, 245, 247, 0.9);
    box-shadow: 0px 0px;
}


/* for bigger displays */
@media screen and (min-width: 1080px) {
    .hero-img {
        width: 300px;
    }
    body {
        max-width: 1400px;
        margin: auto;
    }
}

/* for smaller displays */
@media screen and (max-width: 768px) {
    .hero-wrapper {
        flex-direction: column;
    }
    .hero-img {
        order: -1;
        width: 200px;
    }
    .hero-intro {
        text-align: center;
    }
    .hero-intro span {
        display: block;
        margin-top: 20px;
    }
    .hero-intro p {
        width: 100%;
        text-align: center;
    }
}


/* tools section */

.tools-wrapper {
    flex-basis: 500px;
    background-color: rgba(222, 226, 228, 0.9); /* Tint color */
    padding-bottom: 50px;
}

.tools-wrapper div.heading{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    padding: 3% 3%;
}

.tool-items-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tool-item {
    flex-basis: 250px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    /* background-color: #fff; */
    /* border-radius: 11px;
    box-shadow: 0 3px 10px; */
    /* padding: 20px; */
    /* margin: 10px; */
}

.tool-item img {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
}

.tool-item img#rpi {
    width: 80px;
}

.tool-item div {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.tool-item p {
    font-family: 'Rubik', sans-serif;
}

/* for smaller displays */
@media screen and (max-width: 768px) {
    .tools-wrapper div.heading {
        text-align: center;
    }

    .tool-items-container {
        justify-content: center;
    }
}




/* projects section */
.projects-wrapper {
    flex-basis: 500px;
    background-color: rgba(240, 245, 247, 0.9); /* Tint color */
}

.projects-wrapper div.heading{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    padding: 3% 3%;
}

.project-item {
    display: flex;
}

.project-item img {
    width: 100px;
    padding: 50px;
}

.project-item div {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
    padding-left: 20px;
}

.project-item span {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.project-item p {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    margin-top: 20px;
}

.project-item-right-justified {
    justify-content: flex-end;
}

.project-item-left-justified {
    justify-content: flex-start;
}

/* for smaller displays */
@media screen and (max-width: 768px) {
    .projects-wrapper div.heading {
        text-align: center;
    }

    .tool-items-container {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {

    .projects-wrapper {
        padding-bottom: 20px;
    }

    .project-item span {
        display: block;
        text-align: center;
    }

    .project-item p {
        text-align: center;
    }

    .project-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* contacts section */
.contact-wrapper {
    flex-basis: 500px;
    background-color: rgba(222, 226, 228, 0.9); /* Tint color */
    font-family: 'Rubik', sans-serif;
}

.contact-wrapper div.heading{
    font-weight: bold;
    font-size: 2.5em;
    padding: 3% 3%;
}

.contact-wrapper div.content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    justify-content: space-between;
}

.content-socials {
    font-size: 1.2em;
    margin-left: 3%;
}


.content-socials div.icons {
    margin-top: 20px;
    display: flex;
    /* border: 1px solid black; */
}

.content-socials div.icons a {
    text-decoration: none;
}

.content-socials div.icons a:nth-child(2) {
    text-decoration: none;
    margin-left: 20px;
}

.content-socials div.icons img {
    width: 1.5em;
}

form {
    /* border: 1px solid black; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input-el {
    /* width: 100%; */
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    border: none;
    /* border-radius: 10px; */
    transition: 0.2s;
}

.form-input-el:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.2s ease-in-out;
}

.content-form button {
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
    padding: 15px;
    box-shadow: 2px 2px #3b3b3b;

    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 1em;

    background-color: rgba(222, 226, 228, 0.9);
}

.content-form button:hover {
    background-color:  rgba(240, 245, 247, 0.9);
    transition: background-color 0.2s ease-in-out;
}

.content-form button:active {
    background-color:  rgba(240, 245, 247, 0.9);
    box-shadow: 0px 0px;
}


/* for smaller displays */
@media screen and (max-width: 768px) {
    .contact-wrapper div.heading {
        text-align: center;
    }

    .contact-wrapper div.content {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .content-socials {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .content-socials span {
        display: inline-block;
        align-self: center;
    }

    .icons {
        /* border: 1px solid black; */
        align-self: center;
    }

}

@media screen and (max-width: 500px) {

    .form-input-el {
        width: 100%;
    }

}


/* footer section */

footer > div {
    /* padding: 30px; */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50%;
    transform: translate(-50%);
    /* border: 1px solid black; */
}



/* responsive styling for later
/* min size style*/
/* @media screen and (max-width:500px) { */
    /* put your css style in there */
 /* } */
 
 /* middle size style */
 /* @media screen and (min-width:501px) { */
    /* put your css style in there */
 /* } */
 
 /* large size style */
 /* @media screen and (min-width:920px) { */
    /* put your css style in there */
 /* }  */